.Container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

input {
  background-color: #ebebeb;
  padding: 1em 2em;
  border-radius: 2em;
  width: 60%;
  margin: 3em 0 0;
  color: #84aac2;
  min-width: 280px;
}

label {
  position: absolute;
  margin-top: 4em;
  margin-left: 4em;
  display: block;
  transition: 0.2s ease all;
  color: #84aac2;
  width: 60%;
  min-width: 280px;
  visibility: hidden;
}

label:after {
  content: 'por nome, ano ou gênero';
}

input:focus::placeholder{
  transition: 0.2s ease all;
  color: transparent;
}

input:focus + label,
input:valid + label  {
  margin-top: 1em;
  visibility: visible;
}

@media screen and (max-width: 1000px) {
  input {
    width: 80%;
  }

  label {
    left: .5em;
  }

  label:after {
    content: '';
  }
}
