.Container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

input {
  background-color: #ebebeb;
  padding: 1em 2em;
  border-radius: 2em;
  width: 60%;
  margin: 3em 0 0;
  color: #84aac2;
}

label {
  position: relative;
  top: -2em;
  left: 2em;
  display: block;
  transition: 0.2s ease all;
  color: #84aac2;
  width: 60%;
}

label:after {
  content: 'por nome, ano ou gênero';
}

label:active, input:focus ~ label, input:valid ~ label  {
  top: -5em;
}

@media screen and (max-width: 1000px) {
  input {
    width: 80%;
  }

  label {
    left: 0;
  }

  label:after {
    content: '';
  }
}

