header {
  background-color: #116193;
  color: #04c6cf;
  font-size: 2.5em;
  font-family: 'Abel';
  text-align: center;
  padding: .7em;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 2em;
    padding: .5em;
  }
}
